<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memo.model.MemoMapper">

	<insert id="insertMemo" parameterType="Memo">
		insert into memo values(memo_idx_seq.nextval,#{name},#{msg},sysdate)
	</insert>
	<select id="listMemo" resultType="Memo">
		select * from memo order by idx desc
	</select>
	<select id="getMemoCount" resultType="int">
		select count(idx) from memo
	</select>
	<select id="selectMemoByIdx"  resultType="Memo">
		select * from memo where idx=#{idx}
	</select>
	<select id="listMemo_paging" resultType="Memo" parameterType="map">
		select * from (
       select rownum rn, a.* from
        (select * from memo order by idx desc) a
      ) where rn between #{start:NUMERIC} and #{end:NUMERIC}  
	</select>
</mapper>








